<!DOCTYPE html>
<html lang='fr'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Temp'Orb - Configuration en ligne</title>
  <meta name='description' content="Page de configuration en ligne pour Temp'Orb. Changement de contrat et paramétrages avancés.">
  <link rel='canonical' href='https://config.temporb.fr/'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
  <div class='wrapper'>
    <header>
      <h1 class='header'>
        Configuration de votre Temp'Orb
      </h1>
      <p class='introduction'>
        Page de configuration et paramétrage du contrat pour votre Temp'Orb.
      </p>
    </header>

    <main>
      <form>
        <label for='temporbID'>Veuillez entrer ci-dessous l'identifiant du Temp'Orb à configurer.<br>
        Cet identifiant se trouve sur une étiquette sous le boîtier.</label>
        <input type="text" id='temporbID' name="temporbID" minlength="12" maxlength="12" placeholder="123456789abc" required autofocus/>
        <input type='submit' value='Valider'>
      </form>
    </main>

    <footer>
      <b>Fait avec le ❤️ en <div class='fr-flag-part blue'></div><div class='fr-flag-part white'></div><div class='fr-flag-part red'></div></b><br>
      Thomas Borie - 2025-2026<br>
    </footer>
  </div>

</body>
</html>