---
http_interactions:
- request:
    method: get
    uri: https://www.api-couleur-tempo.fr/api/jourTempo/2025-02-11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://www.api-couleur-tempo.fr/api/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      Etag:
      - '"fcc01cd1f907a0d4f146947992575b73"'
    body:
      encoding: UTF-8
      string: '{"dateJour":"2025-02-11","codeJour":2,"periode":"2024-2025"}'
  recorded_at: Tue, 11 Feb 2025 15:00:00 GMT
[...]
- request:
    method: get
    uri: https://api-commerce.edf.fr/commerce/activet/v1/calendrier-jours-effacement?dateApplicationBorneInf=2025-2-11&dateApplicationBorneSup=2025-2-11&identifiantConsommateur=src&option=EJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Application-Origine-Controlee:
      - site_RC
      Situation-Usage:
      - Jours Effacement
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[],"content":{"dateApplicationBorneInf":"2025-02-11","dateApplicationBorneSup":"2025-02-11","dateHeureTraitementActivET":"2025-02-11T15:37:28Z","options":[{"option":"EJP","calendrier":[{"dateApplication":"2025-02-11","statut":"NON_EJP"}]}]}}'
  recorded_at: Tue, 11 Feb 2025 15:00:00 GMT
- request:
    method: get
    uri: https://api-commerce.edf.fr/commerce/activet/v1/calendrier-jours-effacement?dateApplicationBorneInf=2025-2-12&dateApplicationBorneSup=2025-2-12&identifiantConsommateur=src&option=EJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Application-Origine-Controlee:
      - site_RC
      Situation-Usage:
      - Jours Effacement
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[],"content":{"dateApplicationBorneInf":"2025-02-12","dateApplicationBorneSup":"2025-02-12","dateHeureTraitementActivET":"2025-02-11T15:37:28Z","options":[{"option":"EJP","calendrier":[{"dateApplication":"2025-02-12","statut":"EJP"}]}]}}'
  recorded_at: Tue, 11 Feb 2025 15:00:00 GMT
recorded_with: VCR 6.3.1
