---
http_interactions:
- request:
    method: get
    uri: https://api-commerce.edf.fr/commerce/activet/v1/calendrier-jours-effacement?dateApplicationBorneInf=2025-2-6&dateApplicationBorneSup=2025-2-6&identifiantConsommateur=src&option=EJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Application-Origine-Controlee:
      - site_RC
      Situation-Usage:
      - Jours Effacement
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[],"content":{"dateApplicationBorneInf":"2025-02-06","dateApplicationBorneSup":"2025-02-06","dateHeureTraitementActivET":"2025-02-11T09:53:50Z","options":[{"option":"EJP","calendrier":[{"dateApplication":"2025-02-06","statut":"NON_EJP"}]}]}}'
  recorded_at: Tue, 11 Feb 2025 09:53:50 GMT
[...]
- request:
    method: get
    uri: https://api-commerce.edf.fr/commerce/activet/v1/calendrier-jours-effacement?dateApplicationBorneInf=2025-2-8&dateApplicationBorneSup=2025-2-8&identifiantConsommateur=src&option=EJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Application-Origine-Controlee:
      - site_RC
      Situation-Usage:
      - Jours Effacement
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[],"content":{"dateApplicationBorneInf":"2025-02-08","dateApplicationBorneSup":"2025-02-08","dateHeureTraitementActivET":"2025-02-11T09:53:50Z","options":[{"option":"EJP","calendrier":[{"dateApplication":"2025-02-08","statut":"NON_EJP"}]}]}}'
  recorded_at: Tue, 11 Feb 2025 09:53:50 GMT
recorded_with: VCR 6.3.1
